.m-detail{
	@include flexbox();
  	@include flex-direction(column);
  	height:100%;
	background:#f2f2f2;
	color:#a2a2a2;
	.detail-head{
		@include flexbox() ;
		@include flex-direction() ;
		justify-content: space-around;
		height:.5rem;
		width:100%;
		line-height: .5rem;
		background:#fff;
		
		.head-middle{
			@include flexbox() ;
			@include flex-direction() ;
			width:1.85rem;
			justify-content: space-between;
			span{
				display: inline-block;
				font-size: .16rem;
			}
		}
	}
	.detail-middle{
		height:100%;
		overflow-y: scroll;
		background:#fff;
		.detail-banner{
			height:3.78rem;
			width:100%;
			ul{
				height:100%;
				width:100%;
				li{
					img{
						height:100%;
						width:100%;
					}
				}
			}
		}
		.detail-content{
			background:#f2f2f2;
			div{
				padding:0 .1rem;
			}
			.good-msg{
				background:#fff;
				height:1.26rem;
				.good-title{
					@include flexbox() ;
					justify-content: space-between;
					line-height: .5rem;
					.g-name{
						font-size: .18rem;
						color:#000;
					}
				}
				.good-ps{
					@include flexbox() ;
					justify-content: space-between;
					line-height: .55rem;
					.g-price{
						font-size: .24rem;
						color:#ff1f2c;
					}
					.g-date{
						color:#000;
					}
				}
				
			}
			.good-bz{
				@include flexbox() ;
				justify-content: space-between;
				height:.4rem;
				background:#fff;
				margin:.13rem 0;
				line-height: .4rem;
				
			}
			.good-choose{
				@include flexbox() ;
				justify-content: space-between;
				height:.4rem;
				background:#fff;
				margin-bottom: .13rem;
				line-height: .4rem;
				font-size: .16rem;
				color:#000;
			}
			.good-comment{
				height:1.2rem;
				background:#fff;
				.g-ping{
					@include flexbox() ;
					justify-content: space-between;
					height:.44rem;
					font-size: .16rem;
					line-height: .44rem;
					border-bottom: 1px solid #ddd;
				}
				.g-ping-every{
					.ping-name{
						@include flexbox() ;
						justify-content: space-between;
						height:.35rem;
						margin-top:.1rem;
						line-height: .35rem;
					}
				}
			}
			
		}
	}
	.detail-footer{
		height:.5rem;
		line-height: .5rem;
		width:100%;
		background:#fff;
		span{
			display: inline-block;
			text-align: center;
		}
		.kefu,.shopcar{
			width:.52rem;
			font-size: .12rem;
			border-right:1px solid #dbdbdb;
		}
		.plus-car{
			width:1.29rem;
			color:#7f4395;
			font-size: .16rem;
		}
		.go-buy{
			width:1.3rem;
			background:#7f4395;
			color:#fff;
			font-size: .16rem;
		}
	}
}