.m-detail{
	height:100%;
	.detail-head{
		@include flexbox() ;
		@include flex-direction() ;
		justify-content: space-around;
		height:.5rem;
		width:100%;
		line-height: .5rem;
		background:#fff;
		.head-middle{
			span{
				display: inline-block;
				margin:0 .2rem;
				font-size: .18rem;
			}
		}
	}
	.detail-content{
		.detail-banner{
			height:3.78rem;
			width:100%;
			ul{
				height:100%;
				width:100%;
				li{
					img{
						height:100%;
						width:100%;
					}
				}
			}
		}
	}
}