.m-index {
  height: 100%;
  @include flexbox();
  @include flex-direction(column);
  header {
    height: .44rem;
    background: red;
  }
  section {
    @include flex(1);
    background: gray;
    width: 100%;
    
         
        .mint-swipe{   
            width: 100%;
            height: 2.10rem;
            overflow: hidden;
            img{
                width: 100%;
                
            }
       
    }
    
  }
  
    
  nav {
    height: .50rem;
    background: yellow;
    ul{
        @include flexbox();
        text-align: center;
        line-height: .55rem;
        li{
            @include flex();
        }
    }
  }
}
