

.m-index{
  height:100%;
  @include flexbox();
  @include flex-direction(column);
  width: 100%;

  section{
 
    @include flex();
    background: #fff;
    width: 100%;
    height:100%;    
    overflow:hidden;
  }
  
  
  nav{
    height: .44rem;
    background: #f6f3f4;

    ul{
      height: 100%;
      @include flexbox();
      width: 100%;

      li{
        @include flex();
        @include flexbox();
        @include flex-direction(column);
        text-align: center;
        font-size:.23rem;
        span{
            background:#eefa28;
        }
        b{
          font-size: .12rem;
          line-height: .23;
          font-weight: normal;
        }
        &.active{
          color: #7f4395;
        }
      }
    }
  }
}
